.DS_Store
.claude/worktrees/
bif_data/
data/
!packages/bioimageflow-common-tools/bioimageflow_common_tools/data/
!packages/bioimageflow-common-tools/bioimageflow_common_tools/data/blobs.txt
.pytest_cache/
.claude/
.venv/
__pycache__/
docs/build/
wetlands/
packages/bioimageflow-common-tools/bioimageflow_common_tools/.vscode/
